################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StandaloneJavascriptReact
/solutionfolder/obj/Debug
/solutionroot/obj/Debug
